# Linux
*~
.directory
.Trash-*

# MacOS
*.DS_Store
.AppleDouble
.LSOverride
._*

# Git
*.orig

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Intellij
.idea
.idea_modules/
/out/

# File-based project format:
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Project-specific
fix-permissions_config
